.title {
  margin-block: 0;
  padding-bottom: 0.5em;
}

.timers > :not(:last-child) {
  padding-bottom: 0.3em;
}

.addDeparture {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-top: 1em;
  font: inherit;
  cursor: copy;
  &:disabled {
    cursor: not-allowed;
    color: gray;
  }
}
